@model SimpleFormVm
@{
    ViewData["Title"] = "Simple Form";
}

<div class="row">
    <div class="col-md-12">
        <h2>Simple Form</h2>
        <div>
            <p>This page shows the different ways of submitting forms in ASP.NET Core MVC: using controller/actions accepting GET/POST and using named routes.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>using GET</h3>
        <form asp-controller="SimpleForm" asp-action="SubmitWithGet" method="get">
            <div class="form-group">
                <label asp-for="Email">Email address:</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="checkbox">
                <label><input asp-for="RememberMe"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default"><b>Login</b> with GET</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3>using POST</h3>
        <form asp-controller="SimpleForm" asp-action="SubmitWithPost" method="post">
            <div class="form-group">
                <label asp-for="Email">Email address:</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="checkbox">
                <label><input asp-for="RememberMe"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default"><b>Login</b> with POST</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3>using named route</h3>
        <form asp-route="simpleformroute" method="post">
            <div class="form-group">
                <label asp-for="Email">Email address:</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="checkbox">
                <label><input asp-for="RememberMe"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default"><b>Login</b> with named route</button>
        </form>
    </div>
</div>
