<li><a asp-area="" asp-controller="SimpleForm" asp-action="Index">Simple Form</a></li>
<li><a asp-area="" asp-controller="InputVarieties" asp-action="Index">Input Varieties</a></li>
<li><a asp-area="" asp-controller="SelectLists" asp-action="Index">Select Lists</a></li>
<li><a asp-area="" asp-controller="ValidatedForm" asp-action="Index">Validated Form</a></li>
<li><a asp-area="" asp-controller="Users" asp-action="Register">Complex Validation</a></li>